<nav>
    <ul>
        <li>
          <h1>
              <a id="page-title" href="{{ .Site.BaseURL | relLangURL }}">
                  {{ site.Title }}
              </a>
          </h1>
        </li>
    </ul>
    <ul class="languageToggle">
        <li>
            {{ $siteLanguages := site.Languages}}
            {{ $pageLang := .Page.Lang}}
            {{- range .Page.AllTranslations }}
                {{ $translation := . }}
                {{- range sort $siteLanguages "Weight" "asc" }}
                    {{- if eq $translation.Lang .Lang }}
                      {{ if ne $pageLang .Lang}}
                        <a href="{{ $translation.Permalink | relURL }}">{{ .LanguageConfig.LanguageName }}</a>
                      {{ end }}
                    {{- end }}
                {{ end }}
            {{- end }}
        </li>
    </ul>

    <!-- The hamburger menu -->
    <label for="menu" tabindex="0"> ☰ </label>
    <input id="menu" type="checkbox" />

    <!-- The menu displayed on small screen widths -->
    <ul class="menu-compact">
        {{ $disallowedInMenu := slice "news" }}
        {{ $site := .Site }}
        {{ range .Site.Sections }}
            {{ if not (in $disallowedInMenu .Type) }}
                <li>
                    <details>
                        <summary>
                            {{ .Title }}
                        </summary>
                        <ul dir="rtl">
                            {{ range .Pages }}
                                {{ with .Params.sectiontypelink }}
                                    {{ with $site.GetPage . }}
                                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                    {{ end }}
                                {{ else}}
                                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                                {{ end }}
                            {{ end }}
                        </ul>
                    </details>
                </li>
            {{ end }}
        {{ end }}
    </ul>

    <!-- The menu displayed on large screen widths -->
    <ul class="menu-expanded">
        {{ $disallowedInMenu := slice "news" }}
        {{ $site := .Site }}
        {{ range .Site.Sections }}
            {{ if not (in $disallowedInMenu .Type) }}
                <li>
                    <button>{{ .Title }}</button>
                    <ul class="submenu">
                        {{ range .Pages }}
                            {{ with .Params.sectiontypelink }}
                                {{ with $site.GetPage . }}
                                    <a href="{{ .Permalink }}"><li>{{ .Title }}</li></a>
                                {{ end }}
                            {{ else}}
                                <a href="{{ .Permalink }}"><li>{{ .Title }}</li></a>
                            {{ end }}
                        {{ end }}
                    </ul>
                </li>
            {{ end }}
        {{ end }}
    </ul>
    
</nav>
