header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}


/* Main Nav */
/* These two lines make the checkbox and the label disappear when we are in desktop mode. */
nav input[type="checkbox"],
nav label {
  display: none;
}

.menu-expanded {
    list-style: none;
    padding: 0;
}

.menu-expanded li {
    position: relative;
}

.menu-expanded .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f8f9fa; /* Background color for dropdown */
    border: 1px solid #ccc; /* Border color for dropdown */
    margin-left: 1rem;
}

.menu-expanded li:hover .submenu {
    display: block;
}

.menu-expanded li button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-expanded li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.menu-expanded li a:hover {
    background-color: #e9ecef; /* Background color for hovered link */
}


.menu-compact {
  display: none;
}

@media (max-width: 576px) {
.menu-compact {
  display: block;
}
/* Here is the magic: if the checkbox is not marked, the adjacent list is not displayed */
input[type="checkbox"]:not(:checked) + ul {
  display: none;
}


.menu-expanded {
  display: none;
}

nav {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

/* Stlying the menu icon, the checkbox stays hidden */
nav label {
  text-align: right;
  display: block;
  padding: 0.5em;
  line-height: 1.6em;
  align-self: center;
  cursor: pointer;
  font-size: 2rem;
}

/* Because we are in mobile mode, we want to display it as a vertical list */
nav ul {
  display: block;
}

/* We have two lists: the first one are the always visibile items in the 
  menu bar. The second one is the one that will be hidden */
nav ul:last-child {
  width: 100%;
  flex-basis: 100%;
}

nav ul li {
  margin-bottom: 0;
  width: 100%;
  text-align: right;
  padding: 0.5em;
}
}

/* Top of Home Page */
.splash {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 1rem; /* Gap between the columns */
}

.hero {
  grid-column: 2 / span 1; /* Align the hero section to the right */
  grid-row: 1 / span 2; /* Ensure hero occupies two rows */
}

hero img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.content {
  grid-column: 1 / span 1; /* Align the content section to the left */
  grid-row: 1 / span 1; /* Ensure content occupies one row */
}

.content .news {
  margin: auto;
  max-width: 500px;
  background-color: #676F54;
  border-radius: 10px;
  padding: 0.5rem;
}

.content .news ul {
  padding: 0.5rem;
  height: 200px;
  overflow-y: scroll;
}

.content .news li {
  list-style: none;
  border-bottom: 1px solid gray;
}