:root {
  /* Light Mode Colors */
  --primary-color-light: #FFFF; /* Default primary color in light mode */
  --secondary-color-light: #FFFF; /* Default secondary color in light mode */
  --accent-color-light: #E49273; /* Default accent color in light mode */

  /* Dark Mode Colors */
  --primary-color-dark: #246A73; /* Default primary color in dark mode */
  --secondary-color-dark: #160F29; /* Default secondary color in dark mode */
  --accent-color-dark: #F3DFC1; /* Default accent color in dark mode */
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--primary-color-light); /* Default background color */
  color: black; /* Default text color */
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
  background-color: var(--secondary-color-light); /* Use light mode primary color for header background */
  color: #fff; /* Text color on header */
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

header button {
  color: black;
}

.languageToggle {
  white-space: nowrap;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

/* Dark Mode Media Query */
@media (prefers-color-scheme: dark) {
  :root {
    /* Update colors for dark mode */
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --accent-color: var(--accent-color-dark);
  }
}


/* Main Nav */
/* These two lines make the checkbox and the label disappear when we are in desktop mode. */
nav input[type="checkbox"],
nav label {
  display: none;
}

.menu-expanded {
    list-style: none;
    padding: 0;
}

.menu-expanded li {
    position: relative;
}

.menu-expanded .submenu {
    display: none;
    position: absolute;
    top: 75%;
    left: 0;
    background-color: white; /* Background color for dropdown */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 4px solid var(--accent-color-light);
    margin-left: 1rem;
    width: 175px;
}

.menu-expanded li:hover .submenu {
    display: block;
}

.menu-expanded li button {
    background: none;
    border: none;
    cursor: pointer;
}
.menu-expanded a {
    margin: 1px;
    text-decoration: none;
    font-size: 0.8rem;
}

.menu-expanded li a {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.menu-expanded a li {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    width: 150px;
}

.menu-expanded a:hover li {
  display: block;
  background-color: #e9ecef; /* Background color for hovered link */
}


.menu-compact {
  display: none;
}

/* styles for the small screen mode menu*/
@media (max-width: 700px) {
  .menu-compact {
    display: block;
    position: absolute;
    top: 100px;
    background-color: #FFFF;
  }

  .languageToggle {

  }

  /* Here is the magic: if the checkbox is not marked, the adjacent list is not displayed */
  #menu:not(:checked) + .menu-compact {
    display: none;
  }

  .menu-expanded {
    display: none;
  }

  nav {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  /* Stlying the menu icon, the checkbox stays hidden */
  nav label {
    text-align: right;
    display: block;
    padding: 0.5em;
    line-height: 1.6em;
    align-self: center;
    cursor: pointer;
    font-size: 2rem;
  }

  /* Home Link */
  .menu-compact .home-link {
    display: block;
    padding-bottom: 1.5rem;
  }

  /* Because we are in mobile mode, we want to display it as a vertical list */
  nav ul {
    text-align: center;
    display: block;
  }

  /* We have two lists: the first one are the always visibile items in the 
    menu bar. The second one is the one that will be hidden */
  nav ul:last-child {
    width: 100%;
    flex-basis: 100%;
  }

  nav ul li {
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    padding: 0.5em;
  }

  details li a {
    font-size: 1rem;
    width: 100%;
  }

  details li a:hover {
    background-color: #e9ecef; /* Background color for hovered link */
  }
}

/* Top of Home Page */
.splash {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 1rem; /* Gap between the columns */
}

.hero {
  grid-column: 2 / span 1; /* Align the hero section to the right */
  grid-row: 1 / span 2; /* Ensure hero occupies two rows */
}

hero img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
}

.content {
  grid-column: 1 / span 1; /* Align the content section to the left */
  grid-row: 1 / span 1; /* Ensure content occupies one row */
}

.content .news {
  margin: auto;
  max-width: 500px;
  background-color: #676F54;
  border-radius: 10px;
  padding: 0.5rem;
}

.content .news ul {
  padding: 0.5rem;
  height: 200px;
  overflow-y: scroll;
}

.content .news li {
  list-style: none;
  border-bottom: 1px solid gray;
}