{{ define "main" }}
  {{ .Content }}
<div class="relative">
      <img src="/img/hero.jpg" alt="Seattle Skyline and Korean script" class="w-full h-96 object-cover">
      <div class="absolute bottom-0 left-0 bg-gradient-to-t from-black via-transparent to-transparent w-full h-full"></div>
    </div>

    <!-- TODO: Make these stack on smaller screen sizes -->
    <div class="container mx-auto p-4">
      <div class="grid grid-cols-3 gap-4">
        <!-- News section -->
        <div>
          <h2 class="font-bold mb-2">{{ T "news_header" }}</h2>
          <ul class="bg-white p-4 rounded shadow min-h-64">
            {{ range first 10 (where .Site.Pages "Section" "news") }}
               {{ range .Pages }}
                  <li class="mb-2">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <span class="text-gray-500">{{ .Date | time.Format ":date_long" }}</span>
                  </li>
               {{ end }}
            {{ end }}
          </ul>
        </div>

        <!-- This is an "events" section -->
        <div>
          <h2 class="font-bold mb-2">월별행사</h2>
          <div class="bg-white p-4 rounded shadow min-h-64">
            <p class="mb-2">2024년 3월</p>
            <ul>
              <li class="mb-2">소풍 <span class="text-gray-500">2024-03-05</span></li>
              <li class="mb-2">운동회 <span class="text-gray-500">2024-03-12</span></li>
              <li class="mb-2">학부모 총회 <span class="text-gray-500">2024-03-19</span></li>
            </ul>
          </div>
        </div>

        <!-- Other callouts. Suggest registration link here -->
        <div class="flex flex-col space-y-4">
          <div class="bg-green-200 p-4 rounded shadow text-center">
            <h2>{{ T "register" }}</h2>
          </div>

          <div class="bg-green-200 p-4 rounded shadow text-center">
            <h2>{{ T "location" }}</h2>
          </div>

          <div class="flex justify-center">
          </div>
          <p class="text-center text-gray-700">2023-2024학년도 2학기 등록이 시작되었습니다.<br>Registration for 2nd semester begins.</p>
          <div class="flex justify-center space-x-4">
          </div>
        </div>
      </div>
    </div>
  </main>
{{ end }}

